<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Math Flash Cards</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.min.css">
</head>
<body>

	<main id="app">

		<div class="modal" v-if="showModal">
			<div class="modal-wrapper">
				<div class="modal-container">

			  <div class="modal-body">
			  	<h3>Options</h3>
			  	<div class="terms">
			  		<div class="option term">
						<label><span>Top: </span>
							<select v-model="actives" v-on:change="setRanges()">
								<option value="0-10">0-10</option>
								<option value="0-12">0-12</option>
								<option value="0-20">0-20</option>
								<option value="10-20">10-20</option>
								<option value="0-50">0-50</option>
								<option value="0-100">0-100</option>
							</select>
						</label>
					</div>
					<div class="option term">
						<label><span>Bottom: </span>
							<select v-model="passives" v-on:change="setRanges()">
								<option value="0-10">0-10</option>
								<option value="0-12">0-12</option>
								<option value="0-20">0-20</option>
								<option value="10-20">10-20</option>
								<option value="0-50">0-50</option>
								<option value="0-100">0-100</option>
							</select>
						</label>
					</div>
				</div>

				<div class="option operand">
					<label><span>Operation: </span>
						<select v-model="operation" v-on:change="setDefaultRanges()">
							<option value="+">+</option>
							<option value="-">-</option>
							<option value="×">×</option>
							<!-- <option value="÷">÷</option> -->
						</select>
					</label>
				</div>

				<div class="option mode">
					<label><span>Mode: </span>
						<select v-model="mode" v-on:change="reset(false)">
							<option value="game">Game Mode</option>
							<option value="test">Test Mode</option>
						</select>
						
						<button class="modal-info-button" @click="toggleinfomode()" title="?"><i class="fa fa-info"></i></button>

						<dl class="infomode"  v-if="infomode == true">
							<dt>Game Mode</dt>
							<dd>Play will continue forever. This is for practicing.</dd>
							
							<dt>Test Mode</dt>
							<dd>Set a certian number of cards and receive a score.</dd>
						</dl>

					</label>
				</div>
				<div class="option number" v-if="mode == 'test'">
					<label><span>Number of Cards: </span>
						<select v-model.number="total_cards">
							<option value="5">5 cards</option>
							<option value="10">10 cards</option>
							<option value="20">20 cards</option>
							<option value="25">25 cards</option>
							<option value="50">50 cards</option>
							<option value="100">100 cards</option>
						</select>
					</label>
				</div>
				
			  </div>

			  <div class="modal-footer">
			  	<h3 v-bind:class="{ 'hide' : !displaylogs }">Activity Log</h3>
			  	<table class="log" v-bind:class="{ 'hide' : !displaylogs }">
			  		<thead>
			  			<tr>
			  				<th>Operation</th>
			  				<th>Total</th>
			  				<th>Grade</th>
			  				<th>Duration</th>
			  				<th>Time</th>
		  				</tr>
			  		</thead>
			  		<tbody>
				  		<tr v-for="log in logs">
			  				<td class="operation">{{ log.operation }}</td>
			  				<td class="total">{{ log.total }}</td>
			  				<td class="grade">{{ log.grade }}</td>
			  				<td class="duration">{{ log.duration }} sec</td>
			  				<td class="time">{{ log.time | relativetime }}</td>
				  		</tr>
				  	</tbody>
			  	</table>

				<button class="modal-secondary-button" @click="displaylog()" title="View Log">
					<i class="fa fa-list"></i>
				</button>
				<button class="modal-warning-button" @click="clearlog()" title="Clear Log">
					<i class="fa fa-trash-o"></i>
				</button>

				<button class="modal-default-button modal-button-right" @click="reset(true)" title="OK">
					<i class="fa fa-check"></i>
				</button>
				<button class="modal-error-button modal-button-right" @click="closemodal()" title="Cancel">
					<i class="fa fa-times"></i>
				</button>

			  </div>

			</div>
		  </div>
		</div>
		
		<div class="card" v-bind:class="state" v-bind:data-errors="errors" v-bind:data-valids="valids" v-bind:data-answers="answers">
			<div class="ui">
				<button @click="showModal = true" title="Options"><i class="fa fa-cog"></i></button>
			</div>
			<div class="terms">
				<div class="term term1" v-text="active_val"></div>
				<div class="term term2" v-text="passive_val"></div>
			</div>
			<div class="operand" v-text="operation"></div>
			<div class="answers">
				<div class="answer color_" v-for="(answer, i) in random_answers" v-bind:class="answer.state" v-text="answer.value" @click="(answer.state === 'on' ? checkAnswer(i) : null)" v-bind:data-color="randomNumber(10)"></div>
			</div>

		</div>
	
		<div class="progressbar" v-bind:data-total="total_cards">
			<span class="bar" v-for="record in progressrecord" v-bind:class="record" v-bind:data-total="total_cards" v-bind:style="progresswidthcss()"></span>
			<span class="grade" v-text="grade"></span>
		</div>

	</main>

	<script src="js/vendors.min.js"></script>
	<script src="js/scripts.min.js"></script>
</body>
</html>
